@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*
{
    padding: 0;
    margin: 0;
    
}
/*font-family: 'Roboto', sans-serif; */
body{
	padding: 0;
	margin: 0;
	
	
    
}
.menu-bar
{
    
	background-repeat: no-repeat;
    height: 500px;
    text-align: center;
	overflow: hidden;
	
}



header{
    text-align: left;
    padding: 20px;
	background:rgb(146, 146, 250);
	box-sizing: border-box;
	animation: down 1s;
	box-sizing: border-box;
	
}
@keyframes down
{
	from
	{
		margin-top: -10%;
		opacity: 25%;
	}
}


header h1
{
   font-family: 'Ubuntu', sans-serif;
    color:white;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
}
header img
{
	height: 15px;
}
header p { color: white; font-family: 'Ubuntu', sans-serif; }
.nav-button
{
    display: none;
}
.menu-bar ul
{
  
    position: relative;
    display:inline-flex;
	justify-content: center;
    list-style: none;
    color:white;
}
.menu-bar ul li
{
    position: relative;
   width: 120px;
   margin: 15px;
   padding: 0;
   text-align: center;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.active, .menu-bar ul li a:hover
{
    background-color: white;
    border-radius: 3px;
	color: black;
	padding: 10px;
    
}


.first{
	box-sizing: border-box;
	padding: 20%;
	height: 300px;
	width: 90%;
	margin: 0 auto;
	background-image: url(https://playshaban7070.000webhostapp.com/setup1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
	text-align: center;
	border-color: black;
	font-family: 'Ubuntu', sans-serif;
	
}
.first h1
{
	color: pink;
	background-color: white;
    text-shadow: 2px 2px black;
	font-style:italic;
	margin-top: 10px;
}
.first p
{
	background-color: lightblue;
}
section
{
	
	margin:10px;
	padding: 30px;
	display: flex;
	flex-direction: row;
	
	overflow: hidden;
	
}
.box
{
    margin: 0 auto;
	padding: 50px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	justify-content: center;
    gap: 20px;
	width: 30%;
	flex-direction: column;
	background-image: linear-gradient(rgb(146, 146, 250),white);

	border-radius: 5%;
	border-bottom: 1px solid gray;
    text-align: center;
}
.box h1
{
	color: white;
	font-weight:900;
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px black;


}
.box p
{
	font-family: 'Ubuntu', sans-serif;
	
}
.box img
{
	border-radius: 5%;
}
.box:hover
{
	box-shadow: 2px 2px 30px black;
	padding: 20px;
}

.down
{
	animation: s_down 5s;
}
.up
{
	animation: s_up 5s;
}
@keyframes s_down
{
	from
	{
		opacity: 0;
		margin-top:-20%;
	}
}
@keyframes s_up
{
	from
	{
		margin-bottom: -20%;
		opacity: 25%;
	}
}

/* font-family: 'Roboto', sans-serif; */



    footer{
            padding:5%;
            background-color: black;
            text-align: center;
            font-family:'Ubuntu', sans-serif; ;
        }
       /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	   ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
	body
	{
		background:none;
		
	}
	header
	{
		margin-top: 20px;
		margin: 0 auto;
		text-align: center;
		box-sizing: border-box;
	}

	.menu-bar
   {
	 
	   background-position: center;
	   
	   background-size: cover;
   }
	
	.nav-button
	{
	   
	   position: relative;
	   
	   padding: 5px;
	   display: block;
	   border-radius: 5%;
	   
	   width: 100px;
	   background-color:white;
	   
	   
	   font-size: normal;
	   cursor: pointer;

	}


	.nav-button a
	{
	       margin: 0 auto;
		font-family: 'Ubuntu', sans-serif;
		box-sizing: border-box;
		text-decoration: none;
		
	}

	.menu-bar ul
	{
		display: none;
		
		
		
	}

	.menu-bar ul li{
		text-align: left;
	}
	 
	 .menu-bar ul li:hover
	 {
		
		 
		 text-align: center;
	 }
	
	 .first
	 {
		 padding:20%;
		 background-image: url(https://playshaban7070.000webhostapp.com/setup1_m.jpeg);
	 }
	 section
	 {
		 flex-direction: column;
		 justify-content: center;
		height: 70%;
		 margin: 0 auto;
		
	 }
	 .box
	 {
		 width: 90%;
		 margin: 10px auto;
		 
	 }
	 .box img
	 {
		 height:200px;
	}
	 .up
	 {
		 animation: s_down 5s;
	 }




	}
