@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
*
{
    padding: 0;
    margin: 0;
    
}
/*font-family: 'Roboto', sans-serif; */
body{
	padding: 0;
	margin: 0;
	
}
.menu-bar
{
    background-image: url(setup1.jpeg);
	background-repeat: no-repeat;
    
    text-align: center;
}
header{
    text-align: left;
    padding: 20px;
	background-color: rgba(146, 146, 250, 0.76);
	box-sizing: border-box;
	
}
header h1
{
   font-family: 'Ubuntu', sans-serif;
    color:white;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
}
header p { color: white; font-family: 'Ubuntu', sans-serif; }
.nav-button
{
    display: none;
}
.menu-bar ul
{
  
    position: relative;
    display:inline-flex;
	justify-content: center;
    list-style: none;
    color:white;
}
.menu-bar ul li
{
    position: relative;
   width: 120px;
   margin: 15px;
   padding: 0;
   text-align: center;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.active, .menu-bar ul li:hover
{
    background-color: white;
    border-radius: 3px;
    
}


.first{
	box-sizing: border-box;
	padding: 20%;
	width: 90%;
	margin: 0 auto;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
	text-align: center;
	border-color: black;
	font-family: 'Ubuntu', sans-serif;
	
}
.first h1
{
	color: pink;
	background-color: white;
    text-shadow: 2px 2px black;
	font-style:italic;
	margin-top: 10px;
}
.first p
{
	background-color: lightblue;
}
section
{
	
	box-sizing: border-box;
	align-self: center;
	display: flex;
	flex-direction: column;
    
}
.c_area
{
	box-sizing: border-box;
	margin-top: 20px;
	opacity: 15%;
	transform: (-200px,0);
	transition: opacity 0.1s , transform 1s ;
	
}
.c_area:hover
{
	opacity: 100%;
	left:0;
	transform:(0,0);
	
}
.box1
{ 
	position: relative;
	margin-left: 10%;
	width: 80%;
	height: 500px;
	box-sizing: border-box;
	display: inline-block;
	
	background-color: rgba(146, 146, 250, 0.623);
	
	border-radius:1% 5% 1% 5%;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	overflow: hidden;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	box-shadow: 10px 10px 10px 0 grey;
}


.box1 img{
	height: 300px;
	margin-left: 50%;
	border-radius: 5%;
	margin-top: -22%;
	transform: opacity;
	
}

.text1
{
	width: 40%;
	height: 200px;
	
	margin-left: 5%;
	margin-top: 10%;
	position: relative;
    text-align: left;
	position: relative;
	
	
	

}

.text1 p
{
	margin: 0 auto;
	
	font-size: xx-large;
	font-family: 'Roboto', sans-serif;
}
.box2
{
	
	margin-left: 10%;
	width: 80%;
	height: 500px;
	box-sizing: border-box;
	display: inline-block;
	
	background-color: rgba(146, 146, 250, 0.623);
	border-radius: 5% 1% 5% 1%;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	overflow: hidden;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	box-shadow: -10px 10px 10px grey;
	
}

.box2 .hide
{
	display: none;
}
.box2 img
{
	height: 300px;
	margin-right: 50%;
	border-radius: 5%;
	margin-top: 8%;
}
.box2 .text2
{
	width: 40%;
	height: 200px;
	margin-top: -22%;
	margin-left: 50%;
	position: relative;
    text-align: left;
	
}
.box2 p
{
	color: black;
	
	font-size: xx-large;
	font-family: 'Roboto', sans-serif;
}


    footer{
            padding:5%;
            background-color: black;
            text-align: center;
            font-family:'Ubuntu', sans-serif; ;
        }
       
@media screen and (max-width: 480px) {
	body
	{
		background:none;
	}
	header
	{
		margin-top: 20px;
		margin: 0 auto;
		text-align: center;
		box-sizing: border-box;
	}
	
	.nav-button
	{
	   
	   position: relative;
	   
	   padding: 5px;
	   display: block;
	   border-radius: 10%;
	   
	   width: 100px;
	   background-color:white;
	   
	   
	   font-size: normal;
	   cursor: pointer;

	}


	.nav-button a
	{
	       margin: 0 auto;
		font-family: 'Ubuntu', sans-serif;
		box-sizing: border-box;
		text-decoration: none;
		
	}

	.menu-bar ul
	{
		display: none;
		
		
		
	}

	.menu-bar ul li{
		text-align: left;
	}
	 
	 .menu-bar ul li:hover
	 {
		 background-color: grey;
		 
		 text-align: center;
	 }
	
	 .first
	 {
		 padding:20%;
	 }
	 
	 .box1
	 {
		 width: 90%;
		 margin-left: 20px;
	 }
	 
	 .box1 .text1
	 {
		 margin: 0 auto;
		 overflow: hidden;
		 width: 90%;
		 height: 150px;
		 text-align:center;
	 }
	 .box1 .text1 p{
		font-size: large;
	 }
	 .box1 img
	 {
		 margin: 0 auto;
		 height: 50%;
	 }
    .box2
	{
	     width: 90%;
		 margin-left: 20px;
	}
	 .box2 .text2
	 {
		 display: none;
	 }
	 .box2 .hide
	 {
		 display: block;
		 overflow: hidden;
		 margin: 0 auto;
		 width: 90%;
		 height: 150px;
		 
	 }
	 .box2 .hide p
	 {
		 
		 font-size: large;
	     font-family: 'Roboto', sans-serif;
	     text-align:center;
	 }
	 .box2 img
	 {
		margin: 0 auto;
		height: 50%;
		
	 }

	 
}
